@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
/*
:root {
    --bg-color: #f9f9fe;
    --page-bg-color: #d6d5d5;
    --brd-color: #002240;
    --title-color: #f47566;
    --sidemenu-forcolor: #fcfcfa;
    --deaktiviert-color: #5b5757;
    --aktiviert-color: #1b1a1a;
    --auswahloffen-color: #d5cd6e;
    --auswahlerfolgt-color: #b0de93;
    --listen-bg-color: #f9f9fe;
    --listen-fg-color: #1b1a1a;
    --vollstaendig-color: #3db240;
    --unvollstaendig-color: #f47566;
    --limitok-color: #b0de93;
    --limitnichtok-color: #ef6464;
    --weiss: #ffffff;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: x-large;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #002240;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.mainframe {
    background-color: var(--bg-color);
}

.workframe {
    padding-left: 15px;
}

.title {
    border: 1px solid var(--aktiviert-color);
    color: var(--title-color);
    font-weight: bold;
    background-color: var(--bg-color);
}

.gruppentitle {
    color: var(--title-color);
    border-bottom: 1px solid var(--brd-color);
}

.aktiviert {
    color: var(--aktiviert-color);
}

.deaktiviert {
    color: var(--deaktiviert-color);
}

.labelright {
    text-align: right;
    float: right;
    color: var(--aktiviert-color);
}

.labelleft {
    text-align: left;
    float: left;
    padding-left: 15px;
    color: var(--aktiviert-color);
}
    */
